@use "./shared/styles/reset-css.scss";
@use "./shared/styles/themes.scss";

@forward "./shared/styles/utils.scss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/cormorant-garamond.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-app: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  font-family: "Poppins";
}

.theme--action {
  --font-heading: "Oswald", var(--font-app);
}

.theme--drama {
  --font-heading: "Poppins", var(--font-app);
}

.theme--horror {
  --font-heading: "Cormorant", var(--font-app);
}
